.flower-item {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #fae0df, #faf1f135);
  border-radius: 10px;
  overflow: hidden;
  height: 150px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.48);
}
.flower-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flower-buttons > button {
  margin: 0;
}

.flower-body {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: space-between;
}

.flower-body h3 {
  font-size: 14px;
  margin: 0;
  max-height: 30px;
  overflow: hidden;
}
.flower-body h4 {
  font-size: 12px;
  margin-top: 5px;
}

.flower-img {
  overflow: hidden;
  border-radius: 20px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower-img img {
  border-radius: 20px;
  height: 100%;
  object-fit: contain;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
