@font-face {
  font-family: "SF-pro Bold";
  src: local("SF-pro Bold") url("./SFProText-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "SF-pro Regular";
  src: local("SF-pro Regular") url("./SFProText-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "SF-pro Medium";
  src: local("SF-pro Medium") url("./SFProText-Medium.ttf") format("ttf");
}
