.modal {
  width: 70vw;
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}
