.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}
