.text {
  width: 100%;
}

.flower-info {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flower-title {
  font-size: 16px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}
.flower-desc {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-style: italic;
  width: 100%;
}

.flower-compounds {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 25px;
  margin-bottom: 10px;

  font-size: 14px;
  font-style: italic;
}

.flower-img {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 220px;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.387);
}

.flower-img img {
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
