.header {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  gap: 10px;
  justify-content: space-between;
  background: #045661;
}

.header a {
  text-transform: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  padding: 5px;
}

.header > div {
  display: flex;
  gap: 10px;
}

.header > div > * > * {
  transform: scale(1.5);
}

.header a:hover {
  transform: scale(1.06);
}
